dev:
  tags:
    - meao
    - aws
  only:
    - dev
    - master
  variables:
    NAMESPACE: nucleus-dev
  script:
    - bin/dc.sh build --pull web builder
    - bin/dc.sh run --rm test-image
    - docker/bin/push2dockerhub.sh
    - CLUSTER_NAME=iowa-b ADDITIONAL_BRANCH=iowa-b-dev bin/update-config.sh
    - CLUSTER_NAME=frankfurt ADDITIONAL_BRANCH=frankfurt-dev bin/update-config.sh

stage:
  tags:
    - meao
    - aws
  only:
    - stage
  variables:
    NAMESPACE: nucleus-stage
  script:
    - bin/dc.sh build --pull web builder
    - bin/dc.sh run --rm test-image
    - docker/bin/push2dockerhub.sh
    - CLUSTER_NAME=frankfurt ADDITIONAL_BRANCH=frankfurt-stage bin/update-config.sh
    # mozmeao/infra#1039 tracks fixing the GCP deployment
    #- CLUSTER_NAME=iowa-b ADDITIONAL_BRANCH=iowa-b-stage bin/update-config.sh

prod:
  tags:
    - meao
    - aws
  only:
    - prod
  variables:
    NAMESPACE: nucleus-prod
  script:
    - bin/dc.sh build --pull web builder
    - bin/dc.sh run --rm test-image
    - docker/bin/push2dockerhub.sh
    - CLUSTER_NAME=frankfurt ADDITIONAL_BRANCH=frankfurt-prod bin/update-config.sh
    # mozmeao/infra#1039 tracks fixing the GCP deployment
    #- CLUSTER_NAME=iowa-b ADDITIONAL_BRANCH=iowa-b-prod bin/update-config.sh
