version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Build Image
          command: |
            touch .env
            docker-compose pull || true
            bin/dc.sh build --pull web
      - run:
          name: Run Tests
          command: |
            bin/dc.sh run test-image
